#### ============================================
#### Temporal
#### ============================================
TEMPORAL_VERSION=1.22.4
TEMPORAL_ADMINTOOLS_VERSION=1.22.4
TEMPORAL_UI_VERSION=2.22.3
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8200
TEMPORAL_CORS_ORIGINS=http://localhost:3000

#### ============================================
#### PostgreSQL
#### ============================================
POSTGRESQL_VERSION=13
POSTGRES_USER=temporal
POSTGRES_PASSWORD=temporal
POSTGRES_DB=temporal
VISIBILITY_DBNAME=temporal_visibility

