### ============================================
### Kafka
### ============================================
KAFKA_BROKERS=your-kafka-broker:9092
KAFKA_TOPIC_GOOD=snowplow_good
KAFKA_TOPIC_BAD=snowplow_bad
KAFKA_TOPIC_ENRICHED_GOOD=snowplow_enriched_good
KAFKA_TOPIC_ENRICHED_BAD=snowplow_enriched_bad
KAFKA_GROUP_NAME=snowplow_consumer_group

### ============================================
### Snowplow Collector
### ============================================
COLLECTOR_PORT=9200

### ============================================
### Iglu Server
### ============================================
IGLU_PORT=9201
IGLU_SUPER_API_KEY=your-super-api-key
IGLU_VENDOR_PREFIX=com.acme
IGLU_WRITE_KEY=

### ============================================
### Iglu Database (Postgres)
### ============================================
IGLU_DB_HOST=your-postgres-host
IGLU_DB_PORT=5432
IGLU_DB_NAME=igludb
IGLU_DB_USER=postgres
IGLU_DB_PASSWORD=your-password

#### ============================================
#### ClickHouse
#### ============================================
CLICKHOUSE_HOST=your-clickhouse-host
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=your-password
CLICKHOUSE_CLUSTER=your-cluster-name
DATABASE_NAME=snowplow

DOCKER_BIND_IP=ip-to-bind-docker-contsiners
